nav {
    background: red;
    position: relative;
    top: 0;
    z-index: 10;
    height: 50vh;
    transition: background-color .3s, opacity .2s, visibility 0s;
}

.jumbotron {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -9999;
}

.holder {
    background-image: url('../img/intro-bg.jpg');
    background-size: cover;
    filter: grayscale(80%);
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    top: 0%;
    bottom: 0%;
    right: 0px;
    left: 0px;
}

.nav-wrapper {
    position: relative;
}

.greeting {
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.categories-list-wrapper {
    background-color: blueviolet;
}

.container.categories {
    padding: 1rem;
}

.categories li {
    list-style: none;
    display: inline;
    padding: 10px;
}

.categories li a {
    color: white;
}